* {
    box-sizing: border-box;
}

/* Font */
.single_day{
    font-family: 'Single Day', cursive;
}

body{
    font-family: 'Single Day', cursive;
    margin: 0 6%;
}

#search_box{
    margin-top: 30%;
    margin-bottom: 15%;
}

#results{
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    width: 100%;
}

.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}


#query_input, #query_search_button, img{
    border-radius: 10px;
}
